/* 共用 CSS */

img {
    max-width: 100%; /* 圖片最寬不會超過原始圖檔的寬? */
	/* 若是 width:100% 的話會跟外層元素的寬一樣寬(所以圖檔可能會超過原始檔的寬而變得模糊) */
}

body {
	font-size:100%;
}

/*
.container {
    margin: auto;
    width: 960px;
}
*/

body, /* body也設跟其他區塊一樣的寬度也可以達到置中效果，且裡面的文字也會隨著視窗縮放而自行推擠斷行排到下方(除去出現捲軸的情況) */
.header,
.navigation,
.footer {
	width: 100%;
	margin: auto;
}
.header
,
.navigation,
.footer {
    clear: both;
}

.navigation {
    min-height: 25px;
}

.navigation ul li {
	width: 33.333333%;
	/* why 換算成 33.333344% 時就會變斷到不該斷的地方? */
}

.header {
    background: url(4.jpg) repeat;
    height: 200px;
}

.footer {
    text-align: center;
}

/* 桌面 CSS */

@media screen and (min-width:481px) {    
    .column {
        margin: 10px 1.04166667% 0 0;
    }

    #visit {
        width: 25%;
        float: left;
    }
	
    #points {
        width: 25%;
        float: right;
    }
	
    #main {
        margin: 10px 27.0833333% 0 26.0416667%;
        width: 47.916667%;
    }
}

/* 行動裝置 CSS */

@media screen and (max-width:480px) {
    .column {
        margin: 10px 0;
        border-bottom: 1px solid #7b96bc;
    }
	
    #visit,
    #points,
    #main {
        width: 100%;
    }
}
